<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="content_container">
        <section class="main_container">
            <div class="main_title">
                <h2>WELCOMETO LOREM IPSUM!</h2>
                <p>Integer sit amet pede vel arcu aliquet pretium</p>
            </div>
            <img src="../images/pic07.jpg" alt="">
            <p>This is <strong>Lorem ipsum</strong>, a responsive HTMls sizpe template freebie by <u>Dugropem</u>.
                Released for free under the <u>Creative Commons Atribbution</u> License, so us it for whatever (personal
                or commercial) - just give us credit! Check out more of our stuff at <a href="#">our site</a> or follow
                us on <a href="#">Twitter</a>.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam facere distinctio natus officia neque
                eligendi sapiente cupiditate, amet nemo repellendus et nesciunt a voluptatem, sed dolores ea est culpa
                debitis ipsum dolor sit amet consectetur adipisicing elit. Magnam facere distinctio natus officia neque
                eligendi s.
            </p>


        </section>
        <section class="sidefeed_container">
            <div class="sidefeed_title">
                <h4>PELLENTESQUE VULPUTATE</h4>
            </div>
            <p>AUGUST 13, 2002 | (10) COMMENTS</p>
            <div class="commenter_container">
                <img src="../images/pic04.jpg" alt="">
                <p>Nullsm nan wisi a sem eleifend. Ornet matis libero est urn. Pellensiques vivevera wein.</p>
            </div>
            <hr>
            <p>AUGUST 13, 2002 | (10) COMMENTS</p>
            <div class="commenter_container">
                <img src="../images/pic05.jpg" alt="">
                <p>Nullsm nan wisi a sem eleifend. Ornet matis libero est urn. Pellensiques vivevera wein.</p>
            </div>
            <hr>
            <p>AUGUST 13, 2002 | (10) COMMENTS</p>
            <div class="commenter_container">
                <img src="../images/pic06.jpg" alt="">
                <p>Nullsm nan wisi a sem eleifend. Ornet matis libero est urn. Pellensiques vivevera wein.</p>
            </div>

        </section>
    </main>
</body>
</html>