.banner {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}
.banner_title {
    color: white;
    font-size: 4.5rem;
}
.banner_designer {
    color: rgba(255, 255, 255, 0.456);
    font-size: 1.5rem;
}
.banner_navbar{
    margin-top: 5%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.banner_navbar > a {
    color: white;
    font-weight: 800;
    padding: 1.7%;
    border-radius: 10rem;
    transition: border 0.3s ease;
}
.banner_navbar > a:hover{
    border: solid white;
}