body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-film {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.card-top-part{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.card-description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-top-part > img {
    width: 7rem;
    height: 7rem;
}